@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "Pretendard";
  /* normal : 보통 굵기입니다. 숫자 400과 같습니다.
      bold : 굵은 굵기입니다. 숫자 700과 같습니다.
      bolder : 상속된 값보다 굵은 굵기입니다.
      lighter : 상속된 값보다 얇은 굵기입니다.
      number : 100, 200, 300, 400, 500, 600, 700, 800, 900
      initial : 기본값으로 설정합니다.
      inherit : 부모 요소의 속성값을 상속받습니다. */
  font-display: fallback;
  src: url("../fonts/Pretendard.woff");
  /* 사용할 폰트의 기본 스타일 */
  font-style: lighter;
}

@font-face {
  font-family: "LottriaChab";
  font-style: normal;
  src: url("../fonts/LotteriaChab.woff");
  font-style: lighter;
}
